.container{
    width: 990px;
    margin: 120px auto 0;

    font-family: Calibri, sans-serif;

    display: flex;
    column-gap: 30px;

}

.card{
    width: 300px;
    height: 370px;
    padding-top: 30px;
    box-sizing: border-box;
    border: 1px solid #000000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.card__icon{
    width: 120px;
    height: 120px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: -80px;
    background-color: white;

    text-align: center;
    vertical-align: center;
    line-height: 120px;
    font-size: 40px;
    color: #efb018;
}

.card__title{
    font-size: 30px;
    font-weight: 700;
}

.card__content{
    font-size: 20px;
    color: grey;
    text-align: center;
}

.card__button{
    margin-top: 30px;
    width: 250px;
    height: 60px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-decoration: none;
    color: black;
}